Ch14-AutoTesting/14-2 Stub and Mock Sample/StubAndMockSample/StubAndMockSample/obj/
Ch14-AutoTesting/14-2 Stub and Mock Sample/StubAndMockSample/StubAndMockSampleTests/bin/
Ch14-AutoTesting/14-1 first unit test/CalculatorSample/CalculatorSample/obj/
Ch14-AutoTesting/14-1 first unit test/CalculatorSample/CalculatorSampleTests/obj/
Ch14-AutoTesting/14-2 Stub and Mock Sample/StubAndMockSample/StubAndMockSampleTests/obj/
Ch14-AutoTesting/14-3 selenium Sample/SeleniumSample/packages/
Ch14-AutoTesting/14-3 selenium Sample/SeleniumSample/SeleniumSample/bin/
Ch14-AutoTesting/14-3 selenium Sample/SeleniumSample/SeleniumSample/obj/
Ch14-AutoTesting/14-3 selenium Sample/SeleniumSample/SeleniumSample.Tests/obj/
Ch14-AutoTesting/14-3 selenium Sample/SeleniumSample/SeleniumSample.Tests/bin/
Ch14-AutoTesting/14-4 refactoring sample/RefactoringSample/CalculateShippingFee.Tests/bin/
Ch14-AutoTesting/14-4 refactoring sample/RefactoringSample/packages/
Ch14-AutoTesting/14-4 refactoring sample/RefactoringSample/CalculateShippingFee/obj/
Ch14-AutoTesting/14-4 refactoring sample/RefactoringSample/CalculateShippingFee.Tests/obj/
Ch14-AutoTesting/14-4 refactoring sample/RefactoringSample/CalculateShippingFee/bin/
