@using Ch06.Controllers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoVideo</title>
</head>
    <body>
        <div>

        </div>
    </body>
</html>
