
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnlineGame</title>
    <script src="@Url.Action("NextTime")"></script>
</head>
<body>
    <div>
        <script>
            alert('伺服器時間：' + nextTime);
        </script> 
    </div>
</body>
</html>
