
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowImages</title>
</head>
<body>
    <div>
        <img src="/MvcType/GetImages?image=View01" />
        <img src="/MvcType/GetImages?image=View02" />
        <img src="/MvcType/GetImages?image=View03" />
        <img src="/MvcType/GetImages/View04" />
        <img src="/MvcType/GetImages/View05" />
    </div>
</body>
</html>
