@using MembershipSample.Helper
@{
    ViewBag.Title = "Home Page";
    
}

<div class="alert alert-info">
    這是登入者的User Data 【@UserHelper.GetUserData()】
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Login", "Home"))
        {
            <input type="text" name="account" class="form-control" />
            @Html.Password("password", null, new { @class = "form-control" })
            <button>登入</button>
        }
    </div>
</div>

<a href="@Url.Action("test")" class="btn btn-block btn-success">此連結需登入才可進入</a>