
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetImageTag</title>
</head>
<body>
    <div>
        @{Html.RenderAction("ImageTag", new {name = "View01"});} 
    </div>
</body>
</html>
