
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secure</title>
</head>
<body>
    <div>
        <span>HTTPS only!</span> 
    </div>
</body>
</html>
