@model Ch06.Models.ViewModels.ProductCategoryViewModel

@{
    ViewBag.Title = "DemoViewModel";
}

<h2>DemoViewModel</h2>

<div>
    <ul>
        <li>@Model.Author</li>
        <li>@Model.Book</li>
    </ul>
</div>

<h3>ProductName</h3>
<ul>
    @foreach (var item in Model.Product)
    {
        <li>
            @item.ProductName
        </li>
    }
</ul>

<h3>CategoryName</h3>
<ul>
    @foreach (var item in Model.Category)
    {
        <li>
            @item.CategoryName
        </li>
    }
</ul>