@{
    ViewBag.Title = "DemoMultiModelObject";
}

<h2>DemoMultiModelObject</h2>

<div>
    <ul>
        <li>@ViewBag.Author</li>
        <li>@ViewBag.Book</li>
    </ul>
</div>

<h3>ProductName</h3>
<ul>
    @foreach (var item in ViewBag.Product as List<Product>)
    {
        <li>
            @item.ProductName
        </li>

    }
</ul>
<h3>CategoryName</h3>
<ul>
    @foreach (var item in ViewBag.Category as List<Category>)
    {
        <li>
            @item.CategoryName
        </li>
    }
</ul>