@{
    ViewBag.Title = "GetRedirectData";
}

<h2>GetRedirectData</h2>
<ul>
    <li>ViewData-Msg1：@ViewData["Msg1"]</li>
    <li>ViewBag-Msg2：@ViewBag.Msg2</li>
    <li>TempData-Msg3：@TempData["Msg3"]</li>
    <li>TempData-Msg4：@TempData["Msg4"]</li>
</ul>