@model Ch06.Models.ViewModels.PersonViewModel

@{
    ViewBag.Title = "ShowViewModelModelBinding";
}

<h2>ShowViewModelModelBinding</h2>

<div>
    Man Information：<br />
    Your Name：@Model.Man.Name
    <br />
    Your Age：@Model.Man.Age
</div>
<div>
    Woman Information：<br />
    Your Name：@Model.Woman.Name<br />
    Your Age：@Model.Woman.Age
</div>