@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "錯誤";
}

@*<h1 class="text-danger">錯誤。</h1>
    <h2 class="text-danger">處理您的要求時發生錯誤。</h2>*@

<div>
    <dl>
        <dt>@Model.ControllerName : @Model.ActionName</dt>
        <dd>錯誤原因：@Model.Exception.ToString()</dd>
    </dl>
</div>
